/* Write your CSS here */
.logout-button {
  height: 30px;
  width: 120px;
  color: #303150;
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  font-family: 'roboto';
  font-weight: 12px;
}
